@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,700;1,300;1,600&family=PT+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'proxima';
    src: url('/fonts/12093-webfont.eot');
    src: url('/fonts/12093-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/12093-webfont.woff2') format('woff2'),
         url('/fonts/12093-webfont.woff') format('woff'),
         url('/fonts/12093-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* --Main content-- */

/* --Header-- */
body {
    font-family: 'Cormorant Infant', serif;
    font-family: 'PT Sans', sans-serif;
}

header {
    margin: 50px 0;
}

header h1 {
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    font-size: 36px;
    color: #262626;
    padding-bottom: 25px;
}

header h2 {
    margin: 0;
    font-family: 'Cormorant Infant', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    color: #595959;
}
/* /--Header--/ */

/* --Navigation-- */
.nav {
    position: relative;
    padding: 25px 0;
    margin: 0;
}

.nav:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #e6e6e6;
}

.nav li {
    margin-right: 80px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav .active a {
    color: #48974c;
}

.nav li a {
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #262626;
    text-transform: uppercase;
}

.nav li a:hover {
    background-color: transparent;
    color: #48974c;
}

.nav_burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 18px;
    background-color: transparent;
}

.nav_burger:before, .nav_burger:after {
    content: '';
    position: absolute;
    background-color: #48974c;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all .5s ease;
}

.nav_burger:before {
    top: 0;
}

.nav_burger:after {
    bottom: 0;
}

.nav_burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: #48974c;
    transform: translate(0,-50%);
    transition: all .5s ease;
}

.navbar_active .nav_burger:before {
    transform: rotate(45deg);
}

.navbar_active .nav_burger:after {
    transform: rotate(-45deg);
    transform-origin: 9px -2px;
    opacity: 0;
}

.navbar_active .nav_burger span {
    transform: rotate(-45deg);
    transform-origin: 9px -2px;
}

/* /--Navigation--/ */

/* --Intro-- */
.background {
    background: url('../img/background.png') no-repeat;
    background-position: top;
    background-size: cover;
}

.intro{
    padding: 80px 0 145px;
}

.intro__inner {
    padding: 50px 40px;
    background-color: #f8f8f7;
}

.intro__inner h3 {

    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    font-size: 60px;
    color: #404040;
}

.intro__inner p {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #404040;
}
/* /--Intro--/ */

/* --Events-- */
.bc_grey {
    background-color: #f1f1f1;
}

.events {
    padding: 30px 0 135px;
}

.big__inner {
    background-color: #fff;
    padding: 25px;
}

.big__inner:first-child{
    margin-bottom: 30px;
}

.big__inner img {
    width: 100%;
    margin-bottom: 25px;
}

.big__inner span {
    padding-left: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #a6a6a6;
    background: url('../img/icon.png') no-repeat;
    background-size: 15px 16px;
    margin-bottom: 30px;
}

.big__inner h4 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    color: #262626;
    margin-bottom: 25px;
}

.big__inner p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #737373;
}

.big__inner a {
    display: inline-block;
    padding: 20px 40px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #48974c;
    text-transform: uppercase;
    border: 1px solid #48974c;
    transition: all .4s ease;
}

.big__inner a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #48974c;
}

.earlier {
    position: relative;
    display: inline-block;
    padding: 25px 54px;
    margin: 25px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #48974c;
    text-transform: uppercase;
}

.earlier:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px #fff;
}

.media_link {
    position: relative;
    display: inline-block;
    padding-left: 105px;
}

.media_link ul {
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 0;
}

.media_link ul li {
    display: inline-block;
    margin: 5px;
}

.media_link ul li a {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;

}

.media_link a:hover {
    background-color: transparent;
}

.social_icon {
    height: 20px;
    width: 20px;
    fill: #cccccc;
}

.media_link ul li a:hover .social_icon {
    transition: fill 0.2s linear;
    fill: #48974c;
  }



.small_events {
    position: relative;
    padding: 0;
    margin-top: 20px;
    margin-left: 25px;
    background-color: #fff;
}

.small_events:before {
    content: '';
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 1px;
    top: -20px;
    left: 46%;
    background-color: #e6e6e6;
    transform: translateX(-50%);
}

.small__inner {
    position: relative;
    padding: 5px 30px 25px 5px;
    margin-right: 20px;
}

.small__inner:nth-child(odd):before {
    content: '';
    visibility: hidden;
    position: absolute;
    height: 1px;
    width: 570px;
    bottom: 0;
    left: -15px;
    background-color: #e6e6e6;
    transform: translateY(-50%);
}

.small__inner:nth-child(7):before {
    display: none;
}

.small__inner+.small__inner+.small__inner {
    padding: 25px 30px 25px 5px;
}

.small__inner img {
    width: 100%;
    margin-bottom: 20px;
}

.small__inner h5 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-size: 24px;
    font-style: italic;
    color: #262626;
    margin: 0px 0px 20px;
}

.small__inner p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #737373;
    margin-bottom: 20px;
}

.small__inner a {
    position: relative;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 25px;
    color: #48974c;
}

.small__inner a:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    border-radius: 50%;
    background-color: #48974c;
    transform: translateY(-50%);
}

.small__inner a:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    left: 3px;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    transform: translateY(-50%) rotate(45deg);
}

.pagination_link {
    position: absolute;
    padding: 5px;
    bottom: -80px;
    left: -95px;
}

.pagination_link ul {
    position: relative;
}

.pagination_link ul li {
    display: inline-block;
}

.pagination_link ul span {
    padding: 0 10px;
    font-size: 16px;
    color: #262626;
}

.pagination_link ul li a {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 20px 25px;
    color: #262626;
    background-color: #fff;
}

.pagination_link ul li:nth-child(2) a {
    color: #fff;
    background-color: #48974c;
}

.pagination_link ul li:first-child a, .pagination_link ul li:last-child a {
    background-color: transparent;
    margin: 0 22px;
    padding: 0;
    font-size: 24px;
}

.pagination_link ul li:first-child:hover a, .pagination_link ul li:last-child:hover a {
    background-color: transparent;
    color: #262626;
}


.pagination_link ul li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #48974c;
}
/* /--Events--/ */

/* --Building-- */
.bc_build {
    background: url('../img/build.png') no-repeat;
    background-position: top;
    background-size: cover;
}

.build {
    padding: 435px 15px 70px;
}

.build__inner {
    font-size: 0;
}

.build__inner p {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #262626;
    padding: 25px 50px 25px 20px;
    background-color: #fff;
}

.build__inner a {
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 29px 35px 27px;
    background-color: #48974c;
}
/* /--Building--/ */

/* --Social-- */
.social {
    padding: 70px 15px;
}

.facebook {
    padding: 40px 35px 35px;
    background-color: #fff;
}

.facebook h5 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-size: 24px;
    font-style: italic;
    color: #262626;
    padding-bottom: 25px;
    margin: 0;
}

.facebook img {
    width: 100%;
}

.banner img {
    width: 100%;
    height: 290px;
}
/* /--Social--/ */

/* --Footer-- */
.bc_darkgrey {
    background-color: #404040;
}

footer {
    padding: 60px 15px 0;
}

.footer_info {
    padding: 0;
}

.footer_info h3 {
    margin: 0 0 30px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 700;
    font-size: 36px;
    color: #fff;
}

.footer_info p {
    font-family: 'Cormorant Infant', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    color: #fff;
    padding-right: 170px;
}

.footer_link ul li {
    list-style-type: none;
    margin-top: 15px;
}

.footer_link ul li:last-child {
    margin-bottom: 60px;
}

.footer_link ul li a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.footer_link ul li a:hover {
    text-decoration: none;
}

footer .media_link {
    padding-left: 0;
}

footer .media_link ul li {
    margin: 0;
}

.copyright {
    padding: 0;
    border: 1px solid #808080;
    border-width: 1px 0 0 0;
}

.copyright p {
    padding: 15px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #999999;
}
/* /--Footer--/ */

/* --Media-- */

@media (min-width: 1200px) {
    .big_events {
        width: 47%;
    }
    .small__inner {
        width: 46%;
    }
    .small_events:before{
        visibility: visible;
    }
    .small__inner:nth-child(odd):before {
        visibility: visible;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nav li {
        margin-right: 40px;
    }
    .media_link {
        padding-left: 50px;
    }
    .earlier {
        left: -100px;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .small_events {
        margin: 0 auto;
    }
    .pagination_link {
        left: -65px; 
    }

}

